@using Bookkeeping.Helper;
@using Bookkeeping.Models;
@model IEnumerable<TallyRecord>
@{
    var i = 1;
}

@functions 
{   
    public string SetBgColor(EnumTypes value)
    {
        return (value == EnumTypes.Expend) ? "bg-danger" : "bg-info";
    }
}

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr class="well">
                <th>@Html.DisplayNameFor(m => m.No)</th>
                <th>@Html.DisplayNameFor(m => m.Category)</th>
                <th>@Html.DisplayNameFor(m => m.Date)</th>
                <th>@Html.DisplayNameFor(m => m.Money)</th>
            </tr>
            @foreach (var item in Model)
    {
                <tr class="@SetBgColor(item.Category)">
                    <td>@(i++)</td>
                    <td>@item.Category.DisplayName()</td>
                    <td>@item.Date.ToString("yyyy-MM-dd")</td>
                    <td>@item.Money.ToString("N0")</td>
                </tr>
            }
        </table>
        @Html.PagedListPager(Model as IPagedList, page=>Url.Action("Index", new { page }))
    </div>
</div>
